# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# IDE files
.idea/
.vscode/

# Miscellaneous
.coverage/
coverage/
